<h1 class="text-center">{{titulo}}</h1>
<br>
<div class="container">

  <form>
    Número 1: <input type="number" name="n1" [(ngModel)]="n1"/>
    <br><br>
    Número 2: <input type="number" name="n2" [(ngModel)]="n2"/>
    <br><br>

    <button (click)="sumar()" type="submit" class="btn btn-primary me-3">Sumar</button>
    <button (click)="restar()" type="submit" class="btn btn-primary me-3">Restar</button>
    <button (click)="multiplicar()" type="submit" class="btn btn-primary me-3">Multiplicar</button>
    <button (click)="dividir()" type="submit" class="btn btn-primary">Dividir</button>

  </form>
<br>
  <p *ngIf="!alerta; else alert" class="fw-bold fs-4">Resultado: {{resultado}}</p>
  <br>
  <ng-template #alert>
    <p class="fw-bold fs-4 text-danger">No se puede dividir por 0!</p>
  </ng-template>
  
</div>